*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style: none;   
}

body, html{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    background-color: #1f478b;
    font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#logomotormania {
    text-align: center;
    height: 232px;
  }
  
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

header {
    width: 100%;
    height: 113px;
    background-color:#1f478b;
    background-size: cover;
    background-position: center;
}

.nav {
    background-image: url(https://fotografias.lasexta.com/clipping/cmsimages01/2018/02/27/42118892-F641-4C7B-B2C4-183207F31C62/98.jpg?crop=1139,641,x150,y0&width=1900&height=1069&optimize=high&format=webply);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    transition: all 0.2s ease;
    z-index: 3;
    font-family: 'Poppins', sans-serif;
}

.nav.active{
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(20px);
    padding: 15px;
    z-index: 3;
}
.menu {
    display: flex;
}

.menu li {
    list-style: none;
    margin: 10px;
}

.menu li a{
    color: #ffd734;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;
}

.nav  h1{
    padding-left: 5px;
    color: #ffd734;
    transition-duration: 0.8s;
}

.nav h1:hover{
    padding-top: 10px;
}

.menu li a:hover{
    transition-duration: 0.5s;
    background: #ffd734;
    color: #13274b;    
}

.scrol{
    height: 10px;
}

#logomotormania {
    z-index: 1;
    margin: 0 auto;
}



.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.footer {
    background-color: #13274b;
    padding: 80px 0;
    border-top: 10px solid #1a3363d8;
    margin-top: auto;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
    border-bottom: 3px solid #ffd734;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #4d6ea8;
    display: block;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.footer-links ul li a:hover{
    color: #4086ff;
    padding-left: 6px;
}

.social-links a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background-color: #ffd734;
    color: #1f478b;
}

@media(max-width:991px){
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

.introduccion{
    background-image: url(https://www.autotrade.es/images/img-nuestro-compromiso.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

.card-container{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 55px;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
}
